<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Android Music Player with facial expression recognition">
    <meta name="author" content="Heartfeels">
	<!--title-->
    <title>Heartfeels | Homepage</title>
	
	<%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>
    <%= csrf_meta_tags %>
	<!--CSS-->
		
	
	<!--Google Fonts-->
	 <%= javascript_include_tag 'https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' %>
	 <%= javascript_include_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' %>

	
    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->  

   <%= favicon_link_tag 'ico/favicon.ico' %>
   <!-- <link rel="shortcut icon" href="assets/images/ico/favicon.ico">-->

   <%= favicon_link_tag 'ico/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
   <%= favicon_link_tag 'ico/apple-touch-icon-72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
   <%= favicon_link_tag 'ico/apple-touch-icon-57-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
  
   <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/ico/apple-touch-icon-57-precomposed.png">

-->

</head><!--/head-->
<body>
	<!-- Page Loader -->
	<div class="preloader">
        <div id="loaderImage"></div>
    </div>   
	<div id="home-section" class="image-bg">
		<div class="container">
			<div class="home-content padding">
				<%= image_tag 'slider-logo.png', :class => "img-responsive" %>
				<!--<img class="img-responsive" src="assets/images/slider-logo.png" alt="" />	-->			
				<h2>Explore the world through someone else's eyes.</h2>				
				<div class="button">
					<a href="#" class="btn btn-primary btn-animated">SignUp Now</a>
					<!--<a href="#" class="btn btn-primary btn-animated">Buy Now</a>-->
				</div>
				<div class="app-icons text-center">
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-desktop"></i></a></li>
						<li><a href="#"><i class="fa fa-apple"></i></a></li>
						<li><a href="#"><i class="fa fa-windows"></i></a></li>
						<li><a href="#"><i class="fa fa-android"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div><!--/#home-section--> 
	
	<header id="navigation">
		<div class="navbar" role="banner">
			<div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="index.html">
                    	<%= image_tag 'logo.png', :class => "main-logo img-responsive" %>
						<!--<img class="main-logo img-responsive" src="assets/images/logo.png" alt="">-->
                    </a> 

                </div> 
                <nav id="mainmenu" class="collapse navbar-collapse navbar-right">         
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#home-section">HOME</a></li>
                        <li><a href="#whatsit">What’s it</a></li>
                        <li><a href="#whats-special">Special</a></li>
                        <li><a href="#compatibility">App Info</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#screenshots">SCREENSHOTS</a></li>
                 <!--   <li><a href="#price">Price & plan</a></li>
                        <li><a href="#team">Who we are</a></li> -->
                        <li><a class="btn btn-primary" href="#">Download</a></li>
                    </ul>         
                </nav>               
            </div>
        </div>
    </header><!--/#navigation--> 

	
    <div id="whatsit" class="padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
						<%= image_tag 'mockup/whatsit.png', :class => "img-responsive"  %>
				<!--	<img class="img-responsive" src="assets/images/mockup/whatsit.png" alt="">-->
				</div>
				<div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.20s">
					<div class="whatsit">
						<h1>What is Nap App</h1>
						<h2>Free calls, text and picture sharing with anyone, anywhere!</h2>						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum nulla pariatur. </p>
					</div>						
				</div>
			</div>
		</div>
    </div><!--/#whatsit-->
	
	<div id="whats-special" class="padding image-bg">
		<div class="overlay-bg"></div>
		<div class="container">
			<div class="text-center section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
				<%= image_tag 'icons/t1.png', :class => "img-responsive"  %>
				<!--<img class="img-responsive" src="assets/images/icons/t1.png" alt="" />-->
				<h1>What’s Special</h1>
			</div>
			<div class="special-features">
				<div class="row"> 
					<div class="col-sm-3">
						<div class="special-content text-right wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
							<h2>For Business</h2>
							<p>Sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
						<div class="special-content text-right wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
							<h2>Top Technology</h2>
							<p>Ut enim ad minim veniam, quis nosexercitation ullaboris nisi ut aliquip ex ea commodo.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="special-image wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">
							<%= image_tag 'mockup/special.png', :class => "img-responsive"  %>
							<!--<img class="img-responsive" src="assets/images/mockup/special.png" alt="">-->
						</div>
					</div>
					<div class="col-sm-3">
						<div class="special-content text-left wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
							<h2>Creative Design</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<div class="special-content text-left wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
							<h2>Advanced Security</h2>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
    </div><!--/#whats-special-->
	
	<div id="compatibility" class="padding">
		<div class="container">
			<div class="section-title text-center wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
				<%= image_tag 'icons/t2.png', :class => "img-responsive"  %>
				<!--<img class="img-responsive" src="assets/images/icons/t2.png" alt="" />-->
				<h1>OS Compatibility</h1>
			</div>
			<div class="col-sm-6 left-side">
				<div class="compatibility">
					<div class="os text-right wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
						<h2>Android</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<a href="#">More Detail</a>
					</div>
					<div class="os-image wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
						<%= image_tag 'mockup/os1.png', :class => "img-responsive"  %>
					<!--	<img class="img-responsive" src="assets/images/mockup/os1.png" alt="">-->
					</div>
				</div>
			</div>	
			<div class="col-sm-6 right-side">
				<div class="compatibility">
					<div class="os-image wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
						<%= image_tag 'mockup/os2.png', :class => "img-responsive"  %>
						<!--<img class="img-responsive" src="assets/images/mockup/os2.png" alt="">-->
					</div>
					<div class="os text-left wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
						<h2>iPhone</h2>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
						<a href="#">More Detail</a>
					</div>
				</div>
			</div>
		</div>
	</div><!--/#compatibility-->

	
	<div id="features" class="padding">
		<div class="container">
			<div class="row">
				<div class="text-center section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
					<%= image_tag 'icons/t4.png', :class => "img-responsive"  %>
				<!--	<img class="img-responsive" src="assets/images/icons/t4.png" alt="" />-->
					<h1>Discover All Features</h1>
				</div>				
			</div>
			<div class="all-features text-center">
				<div class="row">
					<div class="col-sm-3">
						<div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.2s">	
						<%= image_tag 'icons/f1.png', :class => "img-responsive"  %>						
							<!--<img class="img-responsive" src="assets/images/icons/f1.png" alt="" />-->
							<h2>Super Fast</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
						</div>
						<div class="feature wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">	
						<%= image_tag 'icons/f5.png', :class => "img-responsive"  %>						
							<!--<img class="img-responsive" src="assets/images/icons/f5.png" alt="" />-->
							<h2>Free Text</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">							
							<!--<img class="img-responsive" src="assets/images/icons/f2.png" alt="" />-->
							<%= image_tag 'icons/f2.png', :class => "img-responsive"  %>	
							<h2>East to Use</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
						</div>
						<div class="feature wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">							
							<!--<img class="img-responsive" src="assets/images/icons/f6.png" alt="" />-->
							<%= image_tag 'icons/f6.png', :class => "img-responsive"  %>
							<h2>Creative UI</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.4s">							
						<!--	<img class="img-responsive" src="assets/images/icons/f3.png" alt="" />-->
							<%= image_tag 'icons/f3.png', :class => "img-responsive"  %>
							<h2>Video Calls</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
						</div>
						<div class="feature wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">							
							<!--<img class="img-responsive" src="assets/images/icons/f7.png" alt="" />-->
							<%= image_tag 'icons/f7.png', :class => "img-responsive"  %>
							<h2>Instant Messaging</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">							
							<!--<img class="img-responsive" src="assets/images/icons/f4.png" alt="" />-->
							<%= image_tag 'icons/f4.png', :class => "img-responsive"  %>
							<h2>Free Call</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
						</div>
						<div class="feature wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">							
							<!--<img class="img-responsive" src="assets/images/icons/f8.png" alt="" />-->
							<%= image_tag 'icons/f8.png', :class => "img-responsive"  %>
							<h2>File Sharing</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div><!--/#features--> 

	<div id="call-to-action" class="padding image-bg">
		<div class="overlay-bg"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 wow slideInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
					<!--<img class="img-responsive" src="assets/images/mockup/mockup.png" alt="">-->
					<%= image_tag 'mockup/mockup.png', :class => "img-responsive"  %>
				</div>
				<div class="col-sm-6">
					<div class="action-content wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
						<h1>Want anything, Anytime? Let’s chat.</h1>
						<h2>Make requests for whatever you need before, during, and after your stay.</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.aboris nisi ut aliquip. </p>
					</div>
				</div>
			</div>	
		</div>				
	</div><!--/call-to-action-->
	
	<div id="screenshots" class="padding">
		<div class="container">
			<div class="text-center section-title  wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
				<%= image_tag 'icons/t5.png', :class => "img-responsive"  %>
				<!--<img class="img-responsive" src="assets/images/icons/t5.png" alt="" />-->
				<h1>Screenshot Gallery</h1>
			</div>
			<div id="screenshot-slider">
				<div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
					<%= image_tag 'mockup/screen1.jpg', :class => "img-responsive" %>
					<!--<a class="image-link" href="assets/images/mockup/screen1.jpg"><img class="img-responsive" src="assets/images/mockup/screen1.jpg" alt=""></a> -->
				</div>
				<div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
					<%= image_tag 'mockup/screen2.jpg', :class => "img-responsive" %>
				<!--	<a class="image-link" href="assets/images/mockup/screen2.jpg"><img class="img-responsive" src="assets/images/mockup/screen2.jpg" alt=""></a>-->
				</div>
				<div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
					<%= image_tag 'mockup/screen3.jpg', :class => "img-responsive" %>
					<!--<a class="image-link" href="assets/images/mockup/screen3.jpg"><img class="img-responsive" src="assets/images/mockup/screen3.jpg" alt=""></a> -->
				</div>
				<div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
					<%= image_tag 'mockup/screen4.jpg', :class => "img-responsive" %>
					<!--<a class="image-link" href="assets/images/mockup/screen4.jpg"><img class="img-responsive" src="assets/images/mockup/screen4.jpg" alt=""></a> -->
				</div>
				<div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
					<%= image_tag 'mockup/screen2.jpg', :class => "img-responsive" %>
					<!--<a class="image-link" href="assets/images/mockup/screen2.jpg"><img class="img-responsive" src="assets/images/mockup/screen2.jpg" alt=""></a>-->
				</div>
				<div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
					<%= image_tag 'mockup/screen1.jpg', :class => "img-responsive" %>
				<!--	<a class="image-link" href="assets/images/mockup/screen1.jpg"><img class="img-responsive" src="assets/images/mockup/screen1.jpg" alt=""></a>-->
				</div>
				<div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
					<%= image_tag 'mockup/screen4.jpg', :class => "img-responsive" %>
					<!--<a class="image-link" href="assets/images/mockup/screen4.jpg"><img class="img-responsive" src="assets/images/mockup/screen4.jpg" alt=""></a>-->
				</div>
				<div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
					<%= image_tag 'mockup/screen3.jpg', :class => "img-responsive" %>
				<!--	<a class="image-link" href="assets/images/mockup/screen3.jpg"><img class="img-responsive" src="assets/images/mockup/screen3.jpg" alt=""></a>-->
				</div>
				<div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
					<%= image_tag 'mockup/screen1.jpg', :class => "img-responsive" %>
				<!--	<a class="image-link" href="assets/images/mockup/screen1.jpg"><img class="img-responsive" src="assets/images/mockup/screen1.jpg" alt=""></a>-->
				</div>
				
			</div>
		</div>
	</div><!--/screenshots-->
	
	
	<div id="testimonial" class="padding">
		<div class="container">
			<div class="text-center section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
				<%= image_tag 'icons/t7.png', :class => "img-responsive"  %>
			<!--	<img class="img-responsive" src="assets/images/icons/t7.png" alt="" />-->
				<h1>Testimonials</h1>
			</div>
			
			<div id="testimonial-slider" class="carousel carousel-fade slide" data-ride="carousel">
				<div class="carousel-inner text-center wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
					<div class="item active">
						<%= image_tag 'bg/testimonial1.jpg', :class => "img-responsive"  %>
						<!--<img class="img-responsive" src="assets/images/bg/testimonial1.jpg" alt="" />-->
						<h2>Cate Scanlon</h2>
						<ul class="list-inline">
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star-half-o"></i></li>
							<li><i class="fa fa-star-o"></i></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
					</div>
					<div class="item">
						 <%= image_tag 'bg/testimonial2.jpg', :class => "img-responsive"  %>
					<!--	<img class="img-responsive" src="assets/images/bg/testimonial2.jpg" alt="" />-->
						<h2>Stephen Marshal</h2>
						<ul class="list-inline">
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star-half-o"></i></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
					</div>
				</div>
			</div>
		</div>
	</div><!--/testimonial-->
	

	
	<div id="download-apps" class="padding image-bg">
		<div class="overlay-bg"></div>
		<div class="container text-center">			
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="download-apps wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
						<h1>Download on App Store</h1>
						<p> Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pelle ntesque nec, egestas non nisi. </p>
						<div class="apps wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
							<ul class="list-inline">
								<li><a href="#"><i class="fa fa-apple"></i></a></li>
								<li><a href="#"><i class="fa fa-windows"></i></a></li>
								<li><a href="#"><i class="fa fa-android"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!--	<div id="contact" class="padding">
		<div class="container text-center">
			<div class=" section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
				 <%= image_tag 'icons/t10.png', :class => "img-responsive"  %>
				<img class="img-responsive" src="assets/images/icons/t10.png" alt="" /
				<h1>Send us a Message</h1>
			</div>
			<form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="#">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
							<%=text_field(:post, :title => 'Your Name', class: 'form-control') %>
							<input type="text" class="form-control" required="required" placeholder="Your Name"> 
						</div>
						<div class="form-group wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.4s">
							<input type="email" class="form-control" required="required" placeholder="Your Email">
						</div>
						<div class="form-group wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">
							<input type="text" class="form-control" required="required" placeholder="Subject">
						</div>	
					</div>
					<div class="col-sm-6">
						 <div class="form-group wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">
							<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Enter Message Here"></textarea>
						</div> 							
					</div>	
					<div class="form-group wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">
						<button type="submit" class="btn btn-primary btn-animated ">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>

-->
	
	<footer id="footer">
		<div class="overlay-bg"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<p>© Copyright 2016 <a href="#">Heartfeels</a>.</p>
				</div>
				<div class="col-sm-5">
					<ul class="list-inline footer-menu text-right">
						<li><a href="#">English(us)</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Cookies</a></li>
					</ul>
				</div>	
			</div>
		</div>
	</footer>
	
	
		
	<!--/#Demo Chooser-
	<div class="demo-chooser">
		<div class="demo-chooser-inner">
			<a href="#" class="toggler"><i class="fa fa-object-group"></i></a>
			<h4>Veriations</h4>
			<ul class="clearfix">				
				<li class="active"><a href="#">Default</a></li>
				<li><a href="http://demo.themeregion.com/napapp/index-blue.html">Blue</a></li>
				<li><a href="http://demo.themeregion.com/napapp/index-blue-flat.html">Blue Flat</a></li>
				<li><a href="http://demo.themeregion.com/napapp/index-dark.html">Dark</a></li>
				<li><a href="http://demo.themeregion.com/napapp/index-red.html">Red</a></li>
				<li><a href="http://demo.themeregion.com/napapp/index-image.html">Image</a></li>
			</ul>
		</div>
    </div>
	--> 
	<!--/#Demo Chooser--> 
	
	<!--/#scripts--> 

	
</body>
</html>